profiles {

    standard {
        process.executor = 'local'
        conda.cacheDir = "$WORKFLOW_ROOT/cached_envs"
        conda.createTimeout = "30 min"
    }

    cluster{

    process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'
        
        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "$WORKFLOW_ROOT/cached_envs" 
        conda.createTimeout = "30 min"
        submitRateLimit = '1 / 15 s'

    } 
}

params{
    training_10x_dir = "${baseDir}/data/10x_data"
    training_metadata = "${baseDir}/data/unmelted_sdrf.txt"
    exclusions = "${baseDir}/data/exclusions.yaml"
    cell_id_col = "id"
    cell_types_col = "cell_type"
    training_dataset_id = "some_dataset"
    results_dir = "${baseDir}/outputs"    

    n_top_genes = 10
    n_top_gene_pairs = 25
    n_rand = 70
    n_trees = 1000
    stratify = "FALSE"
    weighted_down_threshold = 0.25
    transprop_factor = 10000
    wieghted_down_total = 1500 
}

env { 
    WORKFLOW_ROOT="$WORKFLOW_ROOT" 
}
